.container-fluid {
  padding: 10% 20%;
  text-align: center;
}

#title {
  background: linear-gradient(rgba(81, 28, 41, 0.8), rgba(81, 28, 41, 0.8)), url("../images/backgrounds/1.2.png");
  background-size: cover;
  color: #FFFFFF;
}

#movie-details-fsaaw {
  padding: 5% 20%;
  text-align: center;
  background: linear-gradient(rgba(86, 73, 78, 0.8), rgba(86, 73, 78, 0.8)), url("../images/backgrounds/1.2.1.png");
  background-size: cover;
  color: #FFFFFF;
}

.movie-description {
  padding-bottom: 5%;
}

#movie-details-tg {
  padding: 5% 20%;
  text-align: center;
  background: linear-gradient(rgba(86, 73, 78, 0.5), rgba(86, 73, 78, 0.5)), url("../images/backgrounds/1.2.4.png");
  background-size: cover;
  color: #FFFFFF;
}

#movie-details-tnad {
  padding: 5% 20%;
  text-align: center;
  background: linear-gradient(rgba(86, 73, 78, 0.5), rgba(86, 73, 78, 0.5)), url("../images/backgrounds/1.2.6.png");
  background-size: cover;
  color: #FFFFFF;
}

.movie-poster-image {
  width: 50%;
  height: 100%;
}

#analysis1-fsaaw {
  padding: 5% 20%;
  text-align: justify;
  background: linear-gradient(rgba(81, 28, 41, 0.7), rgba(81, 28, 41, 0.7)), url("../images/backgrounds/1.2.2.png");
  background-size: cover;
  color: #FFFFFF;
}

#analysis2-fsaaw {
  padding: 5% 20%;
  text-align: justify;
  background: linear-gradient(rgba(86, 73, 78, 0.9), rgba(86, 73, 78, 0.9)), url("../images/backgrounds/1.2.3.png");
  background-size: cover;
  color: #FFFFFF;
}

#analysis-tg {
  padding: 5% 20%;
  text-align: justify;
  background: linear-gradient(rgba(81, 28, 41, 0.8), rgba(81, 28, 41, 0.8)), url("../images/backgrounds/1.2.5.png");
  background-size: cover;
  color: #FFFFFF;
}

#analysis-tnad {
  padding: 5% 20%;
  text-align: justify;
  background: linear-gradient(rgba(81, 28, 41, 0.75), rgba(81, 28, 41, 0.75)), url("../images/backgrounds/1.2.7.png");
  background-size: cover;
  color: #FFFFFF;
}
